<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Followed Users</title>
    <script th:inline="javascript">

      const splitByPunctuations = (str = '') => {
        let res = [];
        res = str.split('*');
        for(let i = 0; i < res.length; i++){
          res[i] = res[i].split('|');
        };
        return res;
      };
      userList=[[${system.toStringUsers()}]].split(',');
     username=[[${user.getUsername()}]]
      following_list=splitByPunctuations([[${user.toStringFollowingUsers()}]]);
      console.log(following_list)

      function sortScore() {
        following_list.sort(function (a, b) {
          return b[2] - a[2]
        });
        gengrid()
      }

      function sortAlpha() {
        following_list.sort(function (a, b) {
          if(a[0] < b[0]) { return -1; }
          if(a[0] > b[0]) { return 1; }
          return 0;
        });
        gengrid()
      }

      function gengrid()
      {
        var i
        var x=" "


          for (i = 0; i < following_list.length; i++) {
            x = x + "<div style='background: #9DBFAF' ><p>username: " + following_list[i][0] + "  Github Username: " + following_list[i][1] + "</p>"
            x = x + "<p>score: " + following_list[i][2] + "</p> "
            x = x + "<form method=post action=/followings >"
            x = x + "<input type='hidden' name='username' value=" + username + " >"
            x = x + "<input type='hidden' name='UnfollowUser' value=" + following_list[i][0] + " >"
            x = x + "<input type='hidden' name='IsUnfollow' value='1' >"
            x = x + "<input style=\"display: block;\"type=submit value='Unfollow'>"
            x = x + "</form></div>"

          }

          document.getElementById("demo").innerHTML = x;

      }
      window.onload = function () {
        gengrid();
      }

      function myFunction(val) {
        var div = " ";
        let filtered = userList.filter(item => item.includes(val))
        for (let i = 0; i < filtered.length; i++) {
          console.log("filtered[i]", filtered[i]);
          div = div + " <form method=\"post\" action=\"/searchedUser\">"
          div = div + "<input type='hidden' name='username' value=" + username + " >"
          div = div + "<input type='hidden' name='searchedUsername' value='" + filtered[i] + "'>"
          div = div + "<input style=\"display: block;\"  type=\"submit\" value=" + filtered[i] + ">"
          div = div + "</form>"
        }
        document.getElementById("search-results").innerHTML = div;

      }
      function logoutFunction() {
        localStorage.clear();
      }
    </script>

  </head>
  <link rel="stylesheet" th:href="@{/css/mainPage.css}" />
  <body style="background-image: url(https://i.pinimg.com/736x/8d/cd/b5/8dcdb56e3001ea29f34a30a5a5cfb631.jpg)">
  <div>
    <div style="margin: 5px" class="navbar">
      <ul style="list-style-type: none; top:0; margin: 0;padding: 0;overflow: hidden">
        <li style="float: left;"><form method="post" class="headButton" action="/mainPage" >
          <input type='hidden' name='username' th:value="${user.getUsername()}" >
          <input style="display: block;"  type="submit" value="Home">
        </form></li>
        <li style="float: left;"><form method="post" class="headButton" action="/followings" >
          <input type='hidden' name='username' th:value="${user.getUsername()}" >
          <input style="display: block;"  type="submit" value="Following Users">
        </form></li>
        <li style="float: left;"><form method="post" class="headButton" action="/profile" >
          <input type='hidden' name='username' th:value="${user.getUsername()}" >
          <input style="display: block;"  type="submit" value="Profile">
        </form></li>
        <li style="float: left;"> <form method="post" class="headButton" action="/starredProjects">
          <input type='hidden' name='username' th:value="${user.getUsername()}" >
          <input style="display: block;"  type="submit" value="Starred Projects">
        </form></li>


        <li style="float: right"><a style="display: block;"><a><script>document.write(username)</script></a></li>
        <li style="float: right"><form method="post" action="/index">
          <input type="submit" value="Log out" onclick="logoutFunction()">
        </form>  </li>
      </ul>
    </div>
    <div class="wrap">
      <div class="search">

        <input type="text" class="searchTerm" onchange="myFunction(this.value)" placeholder="Search user">
        <input    class="searchButton" value="Search">
        <div id="search-results"></div>
      </div>
      <div class="filterContainer">
        <h3>Filters:</h3>

        <button type="submit" onclick="sortScore()" class="filterButton">Score</button>
        <button type="submit" onclick="sortAlpha()" class="filterButton">Alphabetically</button>
      </div>
      <div class="projectContainer">
        <div id="demo">  </div>
      </div>
    </div>
</body>
</html>
