<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">

	function gengrid() {
		var x=" "
		if ("username" in localStorage) {
			username = window.localStorage.getItem('username');
			console.log(username)
			x = x + "<form method=post action=/mainPage id='myForm' >"
			x = x + "<input type='hidden' name='username' value=" + username + " >"
			x = x + "</form>"
		}
		document.getElementById("demo").innerHTML = x;
		document.getElementById("myForm").submit();


	}


	window.onload = function () {
		gengrid();
	}

</script>
<head>
	<link rel="stylesheet" th:href="@{/css/index.css}" />
	<title>Social Code Brokers</title>
	<link rel="stylesheet" href="./../static/css/index.css">
</head>

<body>

<div class="container">


			<h1 style="text-align:center"><i><b>Social Code Brokers</b></i></h1>

	<form method="post" action="/mainPage" >
		<input type='hidden' name='IsSıngIn' value='1' >
		<input type="text" placeholder="USERNAME" name="username" required>
		<input type="password" placeholder="PASSWORD" name="password" required>
		<input type="submit" value="Sign in">
			<hr style="border-top: dotted 1px;" />

	</form>
	<form action="/signUp" method="post">
		<input type="submit" style="background-color: cadetblue;" value="Sign up">
	</form>
</div>

		<div class="tContainer">
			<h4>Social Code Brokers is new social media for coders.</h4>
		</div>

	<div id="demo">    </div>


</body>

</html>

