<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <script th:inline="javascript">
          const splitByPunctuations = (str = '') => {
              let res = [];
              res = str.split('*');
              for(let i = 0; i < res.length; i++){
                  res[i] = res[i].split('|');
              };
              return res;
          };

          username=[[${user.getUsername()}]]
          console.log(username)
          userList=[[${system.toStringUsers()}]].split(',');
          console.log(userList)
          followingReposList=splitByPunctuations([[${user.toStringFollowingRepos()}]]);
          console.log(followingReposList,"followingrepos")
          container = document.getElementById("projectContainer");
          followingReposList.map( repo =>
              repo.map( item => {
                  container.innerHTML += '<div class="items" >fdjfj</div>';
                  console.log(container,item);
              } )
          )
      </script>
    <title>Social CodeBrokers</title>
    <link rel="stylesheet" href="./../static/css/mainPage.css" />
  </head>
  <body style="background-image: url(https://i.pinimg.com/736x/8d/cd/b5/8dcdb56e3001ea29f34a30a5a5cfb631.jpg)">
  <div>
  <div class="navbar">
    <ul>
        <form method="post" action="/mainPage" >
            <input type='hidden' name='username' th:value="${user.getUsername()}" >
            <input type="submit" value="Home">
        </form>
        <form method="post" action="/followings" >
            <input type='hidden' name='username' th:value="${user.getUsername()}" >
            <input type="submit" value="Following Users">
        </form>
        <form method="post" action="/starredProjects">
            <input type='hidden' name='username' th:value="${user.getUsername()}" >
            <input type="submit" value="Starred Projects">
        </form>
      <li><button id="invite">Invite User</button></li>
      <li style="float: right"><a>Welcome <script>document.write(username)</script></a></li>
    </ul>
  </div>
  <div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="Search user">
       <button type="submit" class="searchButton">Submit</button>
    </div>
    <div id="projectContainer">
        <div>dkdkdsk</div>
    </div>
 </div>
</div>
</body>
</html>
