<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:inline="javascript">

        const splitByPunctuations = (str = '') => {
            let res = [];
            res = str.split('*');
            for(let i = 0; i < res.length; i++){
                res[i] = res[i].split('|');
            };
            return res;
        };

        username=[[${user.getUsername()}]]
        console.log(username)
        if (localStorage.getItem("username") === null) {
            window.localStorage.setItem('username', username);
        }
        userList=[[${system.toStringUsers()}]].split(',');
        console.log(userList)
        console.log([[${user.toStringFollowingRepos()}]])
        followingReposList=splitByPunctuations([[${user.toStringFollowingRepos()}]]);
        console.log("uzunkuk "+followingReposList.length)
        console.log(followingReposList,"followingrepos")
        if (localStorage.getItem("username") === null) {
            window.localStorage.setItem('username', username);
        }
        function gengrid()
        {
            var i
            var x=" "

            for(i=0;i<followingReposList.length;i++)
            {
                x=x+"<div style='background: #9DBFAF' ><p>username: "+followingReposList[i][5]+"  repo: "+followingReposList[i][3]+"  repo id: "+followingReposList[i][2]+"</p>"
                x=x+"<p>language: "+followingReposList[i][1]+"  date: "+followingReposList[i][0]+"</p> "
                x=x+"<form method=post action=/mainPage >"
                x=x+"<input type='hidden' name='username' value="+username+" >"
                if(followingReposList[i][4].localeCompare("0")==0){
                    x=x+"<input type='hidden' name='IsAddStar' value='1' >"
                    x=x+"<input type='hidden' name='StarredId' value="+followingReposList[i][2]+" >"
                    x=x+"<input style=\"display: block;\"type=submit value='Star this Repo'>"
                }else{
                    x=x+"<input type='hidden' name='IsRemoveStar' value='1' >"
                    x=x+"<input type='hidden' name='StarredId' value="+followingReposList[i][2]+" >"
                    x=x+"<input type=submit value='Remove Star'>"
                }

                x=x+"</form></div>"

            }
            document.getElementById("demo").innerHTML = x;
        }
        function myFunction(val) {
            var div=" ";
            let filtered = userList.filter(item => item.includes(val))
            for(let i=0;i<filtered.length;i++)  {
                console.log("filtered[i]",filtered[i]);
                div = div +" <form method=\"post\" action=\"/searchedUser\">"
                div = div +"<input type='hidden' name='username' value="+username+" >"
                div = div +"<input type='hidden' name='searchedUsername' value='" + filtered[i] +"'>"
                div = div +"<input style=\"display: block;\"  type=\"submit\" value=" + filtered[i] + ">"
                div = div + "</form>"
            }
            document.getElementById("search-results").innerHTML = div;
        }
        window.onload = function () {
            gengrid();
        }
        function logoutFunction() {
            localStorage.clear();
        }
    </script>

    <link rel="stylesheet" th:href="@{/css/mainPage.css}" />
    <title>Social CodeBrokers</title>
    <link rel="stylesheet" href="./../static/css/mainPage.css" />
</head>
<body style="background-image: url(https://i.pinimg.com/736x/8d/cd/b5/8dcdb56e3001ea29f34a30a5a5cfb631.jpg)">
<div>
    <div style="margin: 5px" class="navbar">
        <ul style="list-style-type: none; top:0; margin: 0;padding: 0;overflow: hidden">
            <li style="float: left;"><form method="post" class="headButton" action="/mainPage" >
                <input type='hidden' name='username' th:value="${user.getUsername()}" >
                <input style="display: block;"  type="submit" value="Home">
            </form></li>
            <li style="float: left;"><form method="post" class="headButton" action="/followings" >
                <input type='hidden' name='username' th:value="${user.getUsername()}" >
                <input style="display: block;"  type="submit" value="Following Users">
            </form></li>
            <li style="float: left;"><form method="post" class="headButton" action="/profile" >
                <input type='hidden' name='username' th:value="${user.getUsername()}" >
                <input style="display: block;"  type="submit" value="Profile">
            </form></li>
            <li style="float: left;"> <form method="post" class="headButton" action="/starredProjects">
                <input type='hidden' name='username' th:value="${user.getUsername()}" >
                <input style="display: block;"  type="submit" value="Starred Projects">
            </form></li>


            <li style="float: right"><a style="display: block;"><script>document.write(username)</script></a></li>
            <li style="float: right"><form method="post" action="/index">
                <input type="submit" value="Log out" onclick="logoutFunction()">
            </form>  </li>
        </ul>
    </div>
    <div class="wrap">
        <div class="search">

            <input type="text" class="searchTerm" onchange="myFunction(this.value)" placeholder="Search user">
            <input    class="searchButton" value="Search">
            <div id="search-results"></div>
    </div>

        <div class="projectContainer">
            <div id="demo">  </div>
        </div>
</div>
</body>
</html>