<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <script th:inline="javascript">
          const splitByPunctuations = (str = '') => {
              let res = [];
              res = str.split('*');
              for(let i = 0; i < res.length; i++){
                  res[i] = res[i].split('|');
              };
              return res;
          };

          username=[[${user.getUsername()}]]
          console.log(username)
          userList=[[${system.toStringUsers()}]].split(',');
          console.log(userList)
          followingReposList=splitByPunctuations([[${user.toStringFollowingRepos()}]]);
          console.log(followingReposList,"followingrepos")
          function gengrid()
          {
              var i,x
              for(i=0;i<followingReposList.length;i++)
              {
                  x=x+"<div style='background: #9DBFAF' class='info'><p>username: "+followingReposList[i][5]+"  repo: "+followingReposList[i][3]+"  repo id: "+followingReposList[i][2]+"</p>"
                  x=x+"<p>language: "+followingReposList[i][1]+"  date: "+followingReposList[i][0]+"</p>"
                  x=x+"<form method=post action=/mainPage >"
                  x=x+"<input type='hidden' name='username' value="+username+" >"
                  if(followingReposList[i][4].localeCompare("0")==0){
                      x=x+"<input type='hidden' name='IsAddStar' value='1' >"
                      x=x+"<input type='hidden' name='StarredId' value="+followingReposList[i][2]+" >"
                      x=x+"<input type=submit value='Star this Repo'>"
                  }else{
                      x=x+"<input type='hidden' name='IsRemoveStar' value='1' >"
                      x=x+"<input type='hidden' name='StarredId' value="+followingReposList[i][2]+" >"
                      x=x+"<input type=submit value='Remove Star'>"
                  }

                     x=x+"</form></div>"
                  x=x+"<p>------------------------------------------------------------------</p>"
              }
              document.getElementById("demo").innerHTML = x;
          }
          function myFunction(val) {
              var div;
              let filtered = userList.filter(item => item.includes(val))
              for(let i=0;i<filtered.length;i++)  {
                  console.log("filtered[i]",filtered[i]);
                  div = div +" <form method=\"post\" action=\"/searchedUser\">"
                  div = div +"<input type='hidden' name='username' th:value=\"${user.getUsername()}\" >"
                  div = div +"<input type='hidden' name='searchedUsername' value='" + filtered[i] +"'>"
                  div = div +"<button>" + filtered[i] + "</button>"
                  div = div + "</form>"
              }
              document.getElementById("search-results").innerHTML = div;
          }
          window.onload = function () {
              gengrid();
          }
      </script>
    <title>Social CodeBrokers</title>
    <link rel="stylesheet" href="./../static/css/mainPage.css" />
  </head>
  <body style="background-image: url(https://i.pinimg.com/736x/8d/cd/b5/8dcdb56e3001ea29f34a30a5a5cfb631.jpg)">
  <div>
  <div class="navbar">
    <ul>
        <form method="post" action="/mainPage" >
            <input type='hidden' name='username' th:value="${user.getUsername()}" >
            <input type="submit" value="Home">
        </form>
        <form method="post" action="/followings" >
            <input type='hidden' name='username' th:value="${user.getUsername()}" >
            <input type="submit" value="Following Users">
        </form>
        <form method="post" action="/profile" >
            <input type='hidden' name='username' th:value="${user.getUsername()}" >
            <input type="submit" value="Profile">
        </form>
        <form method="post" action="/starredProjects">
            <input type='hidden' name='username' th:value="${user.getUsername()}" >
            <input type="submit" value="Starred Projects">
        </form>
      <li><button id="invite">Invite User</button></li>
      <li style="float: right"><a>Welcome <script>document.write(username)</script></a></li>
    </ul>
  </div>
  <div class="wrap">
    <div class="search">

        <input type="text" class="searchedUsername" onchange="myFunction(this.value)" placeholder="Search user">
        <input type="submit" value="Search">

        <div id="search-results"></div>
    </div>
      <div id="demo"></div>

 </div>
</div>
</body>
</html>
