<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <script th:inline="javascript">
    const splitByPunctuations = (str = '') => {
      let res = [];
      res = str.split('*');
      for(let i = 0; i < res.length; i++){
        res[i] = res[i].split('|');
      };
      return res;
    };
    username=[[${user.getUsername()}]]
    score=[[${user.getScore()}]]
    repoList=splitByPunctuations([[${user.toStringRepoList()}]])
    console.log(repoList)
    GitUsername=[[${user.getGitHubUsername()}]]
    function gengrid()
    {
      var i,x
      for(i=0;i<repoList.length;i++)
      {
        x=x+"<p>repo: "+repoList[i][3]+"  repo id: "+repoList[i][2]+"</p>"
        x=x+"<p>language: "+repoList[i][1]+"  date: "+repoList[i][0]+"</p>"

        x=x+"<p>------------------------------------------------------------------</p>"
      }
      document.getElementById("demo").innerHTML = x;
    }
    window.onload = function () {
      gengrid();
    }

  </script>
  <title>My Profile</title>
  <link rel="stylesheet" href="./../static/css/mainPage.css">
</head>

<body>
  <body style="background-image: url(https://i.pinimg.com/736x/8d/cd/b5/8dcdb56e3001ea29f34a30a5a5cfb631.jpg)">
    <div>
      <div class="navbar">
        <ul>
          <form method="post" action="/mainPage" >
            <input type='hidden' name='username' th:value="${user.getUsername()}" >
            <input type="submit" value="Home">
          </form>
          <form method="post" action="/followings" >
            <input type='hidden' name='username' th:value="${user.getUsername()}" >
            <input type="submit" value="Following Users">
          </form>
          <form method="post" action="/starredProjects">
            <input type='hidden' name='username' th:value="${user.getUsername()}" >
            <input type="submit" value="Starred Projects">
          </form>
          <li><button id="invite">Invite User</button></li>
          <p> Welcome <script>document.write(username)</script></p>
          <p> Your github username is <script>document.write(GitUsername)</script></a></p>
          <p> Your score  is <script>document.write(score)</script></a></p>
        </ul>
        </ul>
      </div>
      <div class="wrap">
        <div class="search">

           <input type="text" class="searchTerm" placeholder="Search user">
           <button type="submit" class="searchButton">Submit</button>
        </div>
      <div class="profileContainer">
        <div class="profilePicture">

        <div class="projectContainer">
          <div id="demo"></div>
        </div>
      </div>
    </div>
    </div>
  </body>

</html>