<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <script th:inline="javascript">
    const splitByPunctuations = (str = '') => {
      let res = [];
      res = str.split('*');
      for(let i = 0; i < res.length; i++){
        res[i] = res[i].split('|');
      };
      return res;
    };

    username=[[${user.getUsername()}]]
    usernameSearched=[[${ searchedUser.getUsername()}]]
    scoreSearched=[[${ searchedUser.getScore()}]]
    repoListSearched=splitByPunctuations([[${ searchedUser.toStringRepoList()}]])
    isFollowing=[[${ searchedUser.getIsFollowing()}]]
    GitUsernameSearched=[[${searchedUser.getGitHubUsername()}]]
    function gengrid()
    {
      var i,x
      for(i=0;i<repoListSearched.length;i++)
      {
        x=x+"<p>repo: "+repoListSearched[i][3]+"  repo id: "+repoListSearched[i][2]+"</p>"
        x=x+"<p>language: "+repoListSearched[i][1]+"  date: "+repoListSearched[i][0]+"</p>"
        x=x+"<form method=post action=/mainPage >"
        x=x+"<input type='hidden' name='username' value="+username+" >"
        x=x+"<input type='hidden' name='searchedUsername' value="+usernameSearched+" >"
        if(repoListSearched[i][4].localeCompare("0")==0){
          x=x+"<input type='hidden' name='IsAddStar' value='1' >"
          x=x+"<input type='hidden' name='StarredId' value="+repoListSearched[i][2]+" >"
          x=x+"<input type=submit value='Star this Repo'>"
        }else{
          x=x+"<input type='hidden' name='IsRemoveStar' value='1' >"
          x=x+"<input type='hidden' name='StarredId' value="+repoListSearched[i][2]+" >"
          x=x+"<input type=submit value='Remove Star'>"
        }
        x=x+"</form></div>"
        x=x+"<br>"
      }
      x=x+"<form method=post action=/searchedUser >"
      x=x+"<input type='hidden' name='username' value="+username+" >"
      x=x+"<input type='hidden' name='searchedUsername' value="+usernameSearched+" >"
     if(isFollowing.localeCompare("0")==0) {
        x=x+"<input type='hidden' name='IsFollow' value=1>"
       x=x+"<input type=submit value='Follow'>"
     }
     else {
       x=x+"<input type='hidden' name='IsUnFollow' value=1>"
       x=x+"<input type=submit value='Unfollow'>"
     }
      x = x+ "</form>"
      document.getElementById("demo").innerHTML = x;
    }
    window.onload = function () {
      gengrid();
    }

  </script>
  <title>Username's Page</title>
  <link rel="stylesheet" href="./../static/css/mainPage.css">
</head>

<body>
  <body style="background-image: url(https://i.pinimg.com/736x/8d/cd/b5/8dcdb56e3001ea29f34a30a5a5cfb631.jpg)">
    <div>
      <div class="navbar">
        <ul>
          <form method="post" action="/mainPage" >
            <input type='hidden' name='username' th:value="${user.getUsername()}" >
            <input type="submit" value="Home">
          </form>
          <form method="post" action="/followings" >
            <input type='hidden' name='username' th:value="${user.getUsername()}" >
            <input type="submit" value="Following Users">
          </form>
          <form method="post" action="/starredProjects">
            <input type='hidden' name='username' th:value="${user.getUsername()}" >
            <input type="submit" value="Starred Projects">
          </form>
          <li><button id="invite">Invite User</button></li>
          <li style="float: right"><a>Welcome <script>document.write(username)</script></a></li>
        </ul>
      </div>
      <div class="wrap">
        <div class="search">
          <input type="text" class="searchTerm" placeholder="Search user">
          <button type="submit" class="searchButton">Submit</button>
        </div>
        <div class="profileContainer">
          <div class="profilePicture">
          </div>
          <br>
          <h1> USERNAME - SCORE</h1>
          <br>
        </div>
        <div class="projectContainer">
          <div id="demo"></div>
      </div>
    </div>
    </div>
  </body>

</html>