<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <script th:inline="javascript">
    const splitByPunctuations = (str = '') => {
      let res = [];
      res = str.split('*');
      for(let i = 0; i < res.length; i++){
        res[i] = res[i].split('|');
      };
      return res;
    };

    username=[[${user.getUsername()}]]
    usernameSearched=[[${ searchedUser.getUsername()}]]
    scoreSearched=[[${ searchedUser.getScore()}]]
    repoListSearched=[[${ searchedUser.toStringRepoList()}]]
    isFollowing=[[${ searchedUser.getIsFollowing()()}]]
    GitUsernameSearched=[[${searchedUser.getGitHubUsername()}]]
  </script>
  <title>Username's Page</title>
  <link rel="stylesheet" href="./../static/css/mainPage.css">
</head>

<body>
  <body style="background-image: url(https://i.pinimg.com/736x/8d/cd/b5/8dcdb56e3001ea29f34a30a5a5cfb631.jpg)">
    <div>
      <div class="navbar">
        <ul>
          <form method="post" action="/mainPage" >
            <input type='hidden' name='username' th:value="${user.getUsername()}" >
            <input type="submit" value="Home">
          </form>
          <form method="post" action="/followings" >
            <input type='hidden' name='username' th:value="${user.getUsername()}" >
            <input type="submit" value="Following Users">
          </form>
          <form method="post" action="/starredProjects">
            <input type='hidden' name='username' th:value="${user.getUsername()}" >
            <input type="submit" value="Starred Projects">
          </form>
          <li><button id="invite">Invite User</button></li>
          <li style="float: right"><a>Welcome <script>document.write(username)</script></a></li>
        </ul>
      </div>
      <div class="wrap">
        <div class="search">
          <input type="text" class="searchTerm" placeholder="Search user">
          <button type="submit" class="searchButton">Submit</button>
        </div>
        <div class="profileContainer">
          <div class="profilePicture">
          </div>
          <br>
          <h1> USERNAME - SCORE</h1>
          <br>
          <button type="submit" onclick="" class = "profileButton">Unfollow</button>
          <button type="submit" onclick="" class= "profileButton">Follow</button>
        </div>
        <div class="projectContainer">
          <span>dfjdfjdfjdfj</span>
          <text>dfjdfjdfjdfj</text>
          <text>dfjdfjdfjdfj</text>
          <text>dfjdfjdfjdfj</text>
          <h1>Proejcts go here</h1>
          <h1>Proejcts go here</h1>
          <h1>Proejcts go here</h1>
        </div>
      </div>
    </div>
    </div>
  </body>

</html>