<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <script th:inline="javascript">
    error2=[[${error.getError()}]]
    console.log(error2)
    console.log(error2.localeCompare("K")==0)
    if(error2==="It isn't a valid github username") {
      alert(error2);
    }
  </script>


  <title>Sign Up</title>
  <link rel="stylesheet" href="../css/index.css">
</head>


<body style="background-image:url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX35412283.jpg)">

  <div class="textCont2">


  </div>
  <form action="/mainPage" method="post">
  <div class="accountContainer">
    <h2 style="text-align: center">Create a New Account</h2>
    <hr style="border-top: dotted 5px"/>

    <input type="text" placeholder="Enter Username" name="username" required>
    <br></br>
    <input type="text" placeholder="Enter Github Username" name="GitUsername" required>
    <br></br>
    <input type="password" placeholder="Enter Password" name="password" required>
    <br></br>
    <input type="password" placeholder="Confirm Password" name="psw" required>
    <br></br>
    <input type='hidden' value='1' name='IsSıgnup'>
    <input type="submit">Login</input>
  </div>

  </form>
</body>

</html>