<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="./../static/css/mainPage.css">
</head>

<body style="background-image:url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX35412283.jpg)">
  <div class="textCont2">
    <h1 style="text-align: center;"><i><b>Welcome to Social Code Brokers</i></b></h1>
    <form action="/mainPage" method="post">
  </div>

  <div class="accountContainer">
    <h2 style="text-align: center">Create a New Account</h2>
    <hr style="border-top: dotted 5px"/>

    <input type="text" placeholder="Enter Username" name="username" required>
    <br>
    <input type="text" placeholder="Enter Github Username" name="GitUsername" required>
    <br>
    <input type="password" placeholder="Enter Password" name="password" required>
    <br>
    <input type="password" placeholder="Confirm Password" name="psw" required>
    <br>
    <input type='hidden' value='1' name='isSignup'>
    <input type="submit">
  </div>

  </form>
</body>

</html>